/* Anki overlays. They position themselves. Don't consider as grid elements . */
.mathjax-overlay, .image-overlay {
  display: contents;
}

/* Nicer label overflow behavior. Keeps them on the same line. */
.label-container .collapse-label {
    white-space: nowrap;
    overflow-x: clip;
    text-overflow: ellipsis;
}

.mcne-expander {
  cursor: pointer;
  color: #949494;
}
.mcne-expander:hover {
   color: #333;
}

.night_mode .mcne-expander {
    color: #6c757d;
}
.night_mode .mcne-expander:hover {
    color: #d3d3d3;
}

/* We need the space now since the buttons can get close to the label. */
.field-state {
  margin-left: 4px;
}

.field-container > .collapsible.measuring { height: 100%; }
.field-container .editor-field { height: calc(100% - 26px); } /* I don't know where the 26 is coming from :P */
.field-container .editing-area { height: 100%; }
.field-container .rich-text-input { height: 100%; }
.field-container .rich-text-relative { height: 100%; }
.field-container .rich-text-editable { height: 100%; }

